<p id="notice"><%= notice %></p>

<h3>
  <%= @snippet.title %>
</h3>

<p>
  <%= @snippet.body %>
</p>
<p>
  <%= @snippet.created_at.strftime("%Y %B %e %H:%m") %>
</p>

<%= link_to 'Edit', edit_snippet_path(@snippet) %> |
<%= link_to 'Back', snippets_path %>
